<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Courses</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if isHome }}
        <li class="active"><a href="/">Main page</a></li>
        {{else}}
          <li ><a href="/">Main page</a></li>
          {{/if}}
          {{#if isCourses }}
        <li class="active"><a href="/courses">Courses</a></li>
        {{else}}
          <li ><a href="/courses">Courses</a></li>
          {{/if}}
          {{#if isAdd }}
        <li class="active"><a href="/add">Add</a></li>
        {{else}}
          <li ><a href="/add">Add</a></li>
          {{/if}}
          {{#if isCard }}
        <li class="active"><a href="/card">Basket</a></li>
        {{else}}
          <li ><a href="/card">Bastet</a></li>
          {{/if}}
    
      </ul>
    </div>
  </nav>