<h1>add</h1>

<form action="/add" method="POST">

 <div class="input-field ">
          <input  id="title" name="title" type="text" class="validate" required>
          <label for="title">write the name of course</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field ">
          <input  id="price" name="price" type="number" class="validate" required>
          <label for="price" >course price</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field ">
          <input  id="image" name="img"  type="text" class="validate" required>
          <label for="image" >Image URL</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

        <button class="btn btn-priary">Add Course</button>
        </form>