<h1>courses</h1>

{{#if courses.length}}
{{#each courses}}
  <div class="row" >
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">
        </div>
        <div class="card-content">
           <span class="card-title">{{title}}</span>
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action">
          <a href="/courses/{{id}}">This is a link</a>
          <a href="/courses/{{id}}/edit?allow=true">Edit</a>
          <form action="/card/add" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary">Buy</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
<h1>No courses at this moment</h1>
{{/if}}


