<h1>Edit {{course.title}} course</h1>

<form action="/courses/edit" method="POST">

 <div class="input-field ">
          <input  id="title" name="title" type="text" class="validate" required value=" {{course.title}}">
          <label for="title">Edit the name of course</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field "> 
          <input  id="price" name="price" type="number" class="validate" required value="{{course.price}}">
          <label for="price" >Edit price</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field ">
          <input  id="image" name="img"  type="text" class="validate" required value="{{course.img}}">
          <label for="image" >Edit Image URL</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <input type="hidden" name="id" value="{{course.id}}">
        <button class="btn btn-priary">Edit Course</button>
        </form>